.Homepage-content {
    justify-content: center;
    text-align: left;
    font: white;
    color: #fff;
    height: 100vh;
}

.Homepage-title {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

.Homepage-shadows {
    position: relative;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.05em;
    font-family: 'Merriweather', serif;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.25s ease-out;
}
.Homepage-shadows:hover {
    text-shadow: -16px 6px 15px #969798;
}

.Homepage-subtitle {
    font-size: 30px;
    font-weight: 500;
    background: rgba(255, 255, 255);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    /* Align the subtitle to the bottom of the flex container */
    align-self: flex-end;
}


.Homepage-change_content:after {
    content: "Unlock the Investment Potential through Analytical Precision and Strategic Insights.";
    animation: changetext 15s infinite linear;
}

@keyframes changetext {
    0% {
        content: "Navigate the Financial Terrain with Precision and Insight, Unleashing the Power of Informed Investing.";
    }

    25% {
        content: "Empower Your Portfolio with Strategic Wisdom and Analytical Foresight, Unveiling New Horizons in Financial Success.";
    }

    50% {
        content: "Embark on a Journey of Financial Mastery, Where Analytical Rigor Meets Strategic Brilliance to Unlock Your Investment Potential.";
    }

    75% {
        content: "Discover the Art of Wealth Creation through Analytical Precision and Strategic Vision, Paving the Way for Financial Excellence.";
    }
}

