*{
  font-family: 'PT Sans', sans-serif;
}
.blured{
  width: 100%;
  height: 100vh;
  position: absolute;
 /* background-color: antiquewhite; */
  /* background-color: rgb(255, 255, 255 / 0.5); */
  background-image: url('./assets/background-3.jpg');
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover; 
  filter: blur(2px);
}
